.main_div_genresComponent {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 20px;
    padding: 12px;
}
.h2_genresComponent {
    margin-left: 20px;
}
.span_genresComponent {
    border: 2px solid #cac6c6;
    padding: 4px;
    margin: 0 4px 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 500;
    color: #8f8d8d;
    text-transform: uppercase;
}
.span_genresComponent_active {
    border: 2px solid #3e9fcc;
    background-color: #1899d6;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px;
    margin: 0 4px 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #fff;
}