.main_header_headerComponent {
    display: flex;
    align-items: center;
}
.logo_div_headerComponent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 31%;
    padding-left: 48px;
}
.logo_sign_span_headerComponent {
    font-size: 19px;
    font-weight: 700;
    margin-left: 4px;
    text-transform: uppercase;
}
.search_div_headerComponent {
    display: flex;
    align-items: center;
    width: 40%;
    
    margin: 16px;
}
.input_search_headerComponent {
    border: 2px rgb(202, 198, 198) solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 40px;
    width: 90%;
    font-size: 17px;
    padding-left: 20px;
}
.icon_search_div_headerComponent {
    width: 10%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px rgb(202, 198, 198) solid;
    border-left: none;
}
input:focus {
    outline: none !important;
}