.header_mainPage {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: white;
}
.wrap {
    display: flex;
    margin-top: 70px;
    width: 100%;
}
.navBar_mainPage {
    /* width: 10%; */
    border-right: 2px solid #cac6c6;
}
.body_mainPage {
    display: flex;
    flex-direction: column;
    width: 80%;
}