PORT=

#Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#Token
SECRET_ACCESS_KEY=
SECRET_REFRESH_KEY=
SECRET_ACTIVATE_KEY=

#OAuth email
CLIENT_ID_EMAIL=
CLIENT_SECRET_KEY_EMAIL=
REDIRECT_URL_EMAIL=
REFRESH_TOKEN_EMAIL=
NO_REPLY_EMAIL=
FRONTEND_URL=

