* {
    scroll-behavior: smooth;
    font-family: din-round,sans-serif;
}
body::-webkit-scrollbar {
    margin: 0;
    padding: 0;
    display: none;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 50px;
    color: #fff;
}
h2 {
    color: #3c3c3c;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
    font-size: 24px;
}
h3 {
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #3c3c3c;
}
h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
}
h5 {
    color: #777;
    font-size: 17px;
}
a {
    cursor: pointer;
    color: #777;
}
a:hover {
    color: #777;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.0;
    opacity: .5;
    text-decoration: none;
    cursor: pointer;
}
li:hover {
    text-decoration: underline;
}
header {
    position: fixed;
    top: 0;
    min-height: 70px;
    width: 100%;
    padding: 0 300px; 
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sign {
    font-weight: 700;
    color: white;  
}
.display_alien_justify {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.homePage_header {
    background-color: #235390;
}

.homePage_sign_violingo {
    text-transform: lowercase;
    font-size: 37px;
    cursor: pointer;
}
.homePage_sign_language {
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    letter-spacing: .8px;
    display: flex;
    justify-content: flex-end;
}
.homePage_body {
    margin-top: 70px;
    background-color: #235390;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 150px 50px 133px;
}
.homePage_image_earth {
    height: 280px;
    width: 280px;
}
.homePage_div_ringEarth1 {
    border: solid 20px rgb(215 191 191 / 6%);
    border-radius: 50%;
    width: 360px;
    height: 360px;
}
.homePage_div_ringEarth2 {
    border: solid 20px rgb(215 191 191 / 9%);
    border-radius: 50%;
    width: 320px;
    height: 320px;
}
.homePage_div_center_body {
    display: flex;
}
.homePage_div_main_right {
    margin-left: 59px;
    width: 750px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homePage_span_sign_right {
    font-size: 32px;
    margin-bottom: 50px;   
}
.homePage_span_button1 {
    background-color: #58a700;
    color: white;
    width: 320px;
    height: 50px;
    letter-spacing: .8px;
    font-weight: 700;
    border-radius: 16px;
    border-bottom: solid 4px #478b13;
    cursor: pointer;
    margin-bottom: 20px;
}
.homePage_span_button1:hover {
    background-color: #58cc02;  
}
.homePage_span_button2 {
    border: solid 2px #262a60;
    border-radius: 16px;
    color: white;
    width: 320px;
    height: 50px;
    cursor: pointer;
    border-bottom: solid 4px #262a60;
}
.homePage_span_button2:hover {
    background-color: #262a6039;  
}
.homePage_div_choice_language {
    background-color: #0a4a82;
    height: 74px;
    width: 100%;
    padding: 0 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.homePage_image_choice_language {
    width: 40px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.homePage_span_sign_language {
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}
.homePage_main_div_image_sova {
    max-width: 1065px;
    margin: auto;
}
.homePage_image_sova {
   width: 185px;
   height: 145px;
   margin: 30px 30px 30px 0; 
}
.homePage_span_sign_about_image_sova {
    display: flex;
    flex-direction: column;
}
.homePage_span_sign_about_title {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: left;
    color: #777;
}
.homePage_div_line {
    display: flex;
    max-width: 1065px;
    border-bottom: 2px solid #e5e5e5;
    margin: 12px auto;
}
.homePage_div_main_sign_why_like {
    display: flex;
    margin: auto;
    padding: 40px;
    flex-direction: column;
    max-width: 1065px;
    color: #777;
    font-size: 14px;
    line-height: 1.7;
}
.homePage_div_main_sign_stamps {
    display: flex;
    flex-direction: row;
}
.homePage_div_stamp_fire {
    flex-direction: column;
    padding: 5px 0 18px 15px;
    text-align: left;
    display: flex;
}
.homePage_div_one_block_sign_stamps {
    padding: 48px 0 0 0;
}
.homePage_div_two_block_sign_stamps {
    background-size: 245px;
    height: 161px;
    margin: auto 48px;
    min-width: 245px;
    width: 245px;
    display: flex;
    justify-content: center;
}
.homePage_div_main_superSova {
    display: flex;
    max-width: 1065px;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.homePage_div_all_signs {
    display: flex;
    flex-direction: column;
}
.homePage_span_learn_more {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #1cb0f6;
    cursor: pointer;
}
.homePage_span_learn_more:hover {
    color: #84d8ff;
}
.homePage_div_main_download_app {
    display: flex;
    max-width: 1065px;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.homePage_span_button_download {
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    margin: 40px 20px 0 0;
    box-shadow: 0 2px 0 #d0cccc;
    cursor: pointer;
    width: 192px;
    height: 69px;
}
.homePage_span_button_download:hover {
    background-color: #d0cccc;
}
.homePage_div_main_image_computer {
    display: flex;
    max-width: 1065px;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.homePage_div_main_certificate {
    display: flex;
    max-width: 1065px;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.homePage_div_main_image_sovaStudy {
    display: flex;
    max-width: 1065px;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.homePage_div_main_produce {
    background-color: #235390;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
}
.homePage_span_button3 {
    background-color: #58a700;
    color: white;
    width: 150px;
    height: 46px;
    letter-spacing: .8px;
    font-weight: 700;
    border-radius: 16px;
    border-bottom: solid 4px #478b13;
    cursor: pointer;
    margin-bottom: 46px;
}
.homePage_span_button3:hover {
    background-color: #58cc02;  
}
.homePage_div_sign_and_button {
    padding: 0 40px;
}
.homePage_div_main_signs {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1065px;
    padding: 24px 40px;
    color: #fff;
    font-size: 13px;
    text-align: left;
}
.homePage_div_title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: none;
}
.homePage_div_signs_and_title {
    padding: 0 24px 48px 0;
    width: 170px;
}
.homePage_div_main_languages {
    border-top: 2px solid hsla(0,0%,100%,.2);
    color: #fff;
    font-size: 13px;
    margin: 0 auto;
    max-width: 1065px;
    padding: 24px 40px 48px;
    text-align: left;
}
.homePage_div_title_languages {
    font-size: 15px;
    margin: 6px 0;
    text-transform: none;
}
.homePage_ul_languages {
    display: flex;
    flex-wrap: wrap;
}
.homePage_li_languages {
    margin: 6px 24px 0 0;
    font-weight: 700;
    opacity: .5;
    font-size: 13px;
}
.registerPage_header {
    background-color: #235390;
}
.registerPage_sign_violingo {
    text-transform: lowercase;
    font-size: 37px;
    cursor: pointer;
}
.registerPage_sign_language {
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.registerPage_body {
    background-color: #235390;
    width: 100%;
    height: 100%;
}
.registerPage_div_center_body {
    margin: 228px auto;
    padding: 0 40px;
    text-align: center;
    width: 1065px;
}
.registerPage_main_div_button {
    display: flex;
    justify-content: flex-start;
}
.registerPage_div_button {
    border-radius: 16px;
    border-style: solid;
    border-width: 2px 2px 4px;
    cursor: pointer;
    display: inline-block;
    margin: 12px;
    max-width: 240px;
    min-height: 217px;
    min-width: 200px;
    padding: 12px 12px 24px;
    text-align: center;
    background-color: transparent;
    border-color: hsla(0,0%,100%,.5);
}
.registerPage_div_button:hover {
    background-color: #7f83892e;
}
.registerPage_div_sign_amount_student {
    font-weight: 500;
    margin-top: 6px;
    text-transform: none;
    color: #fff;
}
.welcomePage_main_div_top {
    padding: 30px 0;
    background: #fff;
    top: 0;
    min-height: 80px;
    height: auto;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 210;
}
.welcomePage_button_cross {
    border: none;
    background-color: transparent;
}
.welcomePage_div_around_cross {
    border-radius: 16px;
    background-color: #e5e5e5;
    height: 16px;
    width: 1086px;
}
.welcomePage_div_one_download {
    background-color: #58cc02;
    border-radius: 16px;
    height: 16px;
    width: 20%;
}
.welcomePage_div_body {
    margin: 80px auto 0 auto;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    text-align: center;
    z-index: 1;
}
.welcomePage_div_main_blocks {
    grid-gap: 10px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.welcomePage_div_one_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 2px 0 #d0cccc;
    margin: auto;
    width: 187.5px;
    height: 182px;
    cursor: pointer;
    background-color: #fff;
    transition-duration: .4s;
}
.welcomePage_div_one_block:hover {
    background-color: #e5e5e588;
}
.welcomePage_span_sign_in_block {
    color: #4b4b4b;
    font-size: 17px;
    text-align: center;
    margin: 0 20px;
}
.welcomePage_div_button_next {
    background-color: #58cc02;
    color: white;
    width: 780px;
    height: 50px;
    letter-spacing: .8px;
    font-weight: 700;
    border: none;
    border-radius: 16px;
    border-bottom: solid 4px #58a700;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}
.welcomePage_div_button_next:hover {
    background-color: #5acc02be;  
}
.welcomePage_div_button_next_noActive {
    background-color: #e5e5e5;
    color: #afafaf;
    width: 780px;
    height: 50px;
    letter-spacing: .8px;
    font-weight: 700;
    border: none;
    border-radius: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}
.welcomePage_div_one_block_select {
    background-color: #ddf4ff;
    border: solid 2px #1cb0f6;
    box-shadow: 0 2px 0 #1899d6;
    color: #1899d6;
    margin: auto;
    width: 187.5px;
    height: 182px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.welcomePage_div_body_welcome3Component {
    margin: 180px auto 0 auto;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 600px;
    text-align: center;
    z-index: 1;
    padding: 0 10px;
}
.welcomePage_div_main_table_welcome3Component {
    display: flex;
    flex-direction: column;
}
.welcomePage_div_table_row_top_welcome3Component {
    display: flex;
    width: 580px;
    border: solid 2px #e5e5e5;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    border-bottom: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    cursor: pointer;
}
.welcomePage_div_table_row_top_welcome3Component_select {
    background-color: #ddf4ff;
    border: 2px solid #84d8ff;
    display: flex;
    width: 580px;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    cursor: pointer;
}
.welcomePage_div_table_row_center_welcome3Component {
    display: flex;
    width: 580px;
    border: solid 2px #e5e5e5;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    border-bottom: 0;
    cursor: pointer;
}
.welcomePage_div_table_row_center_welcome3Component_select {
    display: flex;
    width: 580px;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    background-color: #ddf4ff;
    border: 2px solid #84d8ff;
    cursor: pointer;
}
.welcomePage_div_table_row_down_welcome3Component {
    display: flex;
    width: 580px;
    border: solid 2px #e5e5e5;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
}
.welcomePage_div_table_row_down_welcome3Component_select {
    display: flex;
    width: 580px;
    box-sizing: border-box;
    height: 48px;
    padding: 14px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #ddf4ff;
    border: 2px solid #84d8ff;
    cursor: pointer;
}
.welcomePage_div_table_column_left_welcome3Component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    color: #4b4b4b;
    font-family: din-round,sans-serif;
    font-size: 17px;
}
.welcomePage_div_table_column_right_welcome3Component {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    color: #4b4b4b;
    font-family: din-round,sans-serif;
    font-size: 17px;
}
.welcomePage_div_body_welcome4Component {
    margin: 80px auto 0 auto;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 650px;
    text-align: center;
    z-index: 1;
    padding: 0 24px 24px;
}
.welcomePage_div_image_and_message_welcome4Component {
    display: flex;
    color: #4b4b4b;
}
.welcomePage_div_image_welcome4Component {
    display: flex;
    margin: 72px 0 0;
    flex-direction: column;
    width: 450px;
}
.welcomePage_div_main_image_block_welcome4Component {
    display: flex;
    position: relative;
    width: 246px;
    margin: 0 12px;
}
.welcomePage_div_image_block_welcome4Component {
    position: absolute;
    top: 21px;
}
.welcomePage_div_image_message_welcome4Component {
    display: flex;
    position: relative;
    text-align: center;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    padding: 20px;
    width: 168px;
    box-sizing: border-box;
    margin: 0 12px;
    font-size: 17px;
}
.welcomePage_div_image_message_parallelogram_welcome4Component {
    bottom: 33px;
    height: 16px;
    left: 1px;
    transform: translate(-19px) rotate(-45deg) skew(45deg);
    width: 32px;
    background: #fff;
    border: 2px solid #e5e5e5;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    top: 95px;
}
.welcomePage_div_main_sign_and_buttons_welcome4Component {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 6.2px;
    box-shadow: 3px 3px 3px 2px hsl(0deg 0% 90% / 50%);   
    margin-top: 10px;
}
.welcomePage_div_help_sign_and_buttons_welcome4Component {
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    letter-spacing: normal;
    box-sizing: border-box;
    text-align: left;
    padding: 25px;
    margin-right: 12px;
    position: relative;
    font-size: 20px;
}
.welcomePage_button_cross_welcome4Component {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px; 
    right: 10px;
}
.welcomePage_div_stamp_bell_and_sign_welcome4Component {
    display: flex;
    align-items: center;
}
.welcomePage_div_buttons_welcome4Component {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 71px;
}
.welcomePage_button_blocked_welcome4Component {
    color: #afafaf;
    padding: 14px 16px;
    border-color: #e5e5e5;
    font-size: medium;
    border-radius: 2.49px;
    border-style: solid;
    font-weight: 700;
    letter-spacing: .8px;
    margin-right: 12px;
}
.welcomePage_button_allow_welcome4Component {
    border-color: #e5e5e5;
    font-size: medium;
    background-color: #fff;
    border-radius: 2.49px;
    border-style: solid;
    color: #1cb0f6;
    font-weight: 700;
    letter-spacing: .8px;
    padding: 14px 16px;
}
.welcomePage_div_image_arrowUp_welcome4Component {
    display: flex;
    justify-content: flex-end;
    margin: 20px 102px 0 0;
    cursor: pointer;
}
.welcomePage_div_body_welcome5Component {
    margin: 260px auto 0 auto;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 500px;
    text-align: center;
    z-index: 1;
    padding: 0 10px; 
}
.welcomePage_div_main_buttons_welcome5Component {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.welcomePage_button_facebook_welcome5Component {
    margin-bottom: 10px;
    width: 100%;
    background-color: #3b5998;
    border-color: #2d4373;
    color: #fff;
    border-radius: 16px;
    height: 50px;
    border: 0 solid transparent;
    border-bottom: 4px solid #2d4373;
    transition: filter .2s;
    padding: 0 16px;
    touch-action: manipulation;
    transform: translateZ(0);
}
.welcomePage_button_facebook_welcome5Component:hover {
    background-color: #3b5898f2;
}
.welcomePage_button_google_welcome5Component {
    margin-bottom: 10px;
    width: 100%;
    background-color: #1cb0f6;
    border-color: #1899d6;
    color: #fff;
    border-radius: 16px;
    height: 50px;
    border: 0 solid transparent;
    border-bottom: 4px solid #1899d6;
    transition: filter .2s;
    padding: 0 16px;
    touch-action: manipulation;
    transform: translateZ(0);
}
.welcomePage_button_google_welcome5Component:hover {
    background-color: #1cb1f6e6;
}
.welcomePage_button_not_now_welcome5Component {
    margin-top: 24px;
    border: #e5e5e5 2px solid;
    background: none;
    border-bottom: 4px solid #e5e5e5;
    border-radius: 12px;
    color: #afafaf;
    height: 50px;
    padding: 0 16px;
    transition: filter .2s;
    text-transform: uppercase;
}
.welcomePage_button_not_now_welcome5Component:hover {
    background-color: #e5e5e5;
}
.welcomePage_span_button_sign_welcome5Component {
    padding: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .8px;
}
.welcomePage_div_main_image_and_sign_welcome6Component {
    display: flex;
}
.welcomePage_div_image_and_sign_welcome6Component {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    color: #777;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: normal;
    margin: 10px;
    padding: 24px;
    text-align: center;
    text-transform: none;
    width: 250px;
}
.welcomePage_div_image_and_sign_welcome6Component:hover {
    background-color: #e5e5e5;
    border: solid 2px #d1cdcd;
}
.loginPage_div_main {
    padding: 30px;
}
.loginPage_div_main_button {
    display: flex;
    position: relative;
}
.loginPage_div_button_cross_close {
    position: absolute;
    cursor: pointer;
}
.loginPage_div_button_registration {
    position: absolute;
    right: 30px;
    padding: 0 16px;
    border-radius: 12px;
    color: #1cb0f6;
    transition: filter .2s;
    height: 50px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 2px 0 #e5e5e5;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-weight: 700;
    white-space: nowrap;
}
.loginPage_div_button_registration:hover {
    background-color: #e5e5e5;
    border: 2px solid #cec9c9;
    box-shadow: 0 2px 0 #cec9c9;
}
.loginPage_div_main_loginComponent {
    height: 100%;
}
.loginPage_div_componentLogin {
    width: 375px;
    margin-top: 150px;
    position: relative;
}
.loginPage_h1_componentLogin {
    color: #3c3c3c;
    font-size: 26px;
    margin: 10px 0 15px;
    text-align: center;
}
.loginPage_input_loginComponent {
    cursor: text;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    line-height: 27px;
    border-radius: 16px;
    background-color: #e5e5e54d;
    border: 2px solid #e5e5e5;
    margin-top: 8px;
}
::placeholder {
    color: #cfcbcb;
    font-size: 16px;
    font-family: din-round,sans-serif;
}
input:focus {
    outline: none !important;
    border:2px solid #e5e5e5;
    /* box-shadow: 0 0 10px #719ECE; */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.loginPage_div_input_loginComponent {
    position: relative;
}
.loginPage_div_sign_forget_password_loginComponent {
    position: absolute;
    font-size: 15px;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #afafaf;
    cursor: pointer;
    top: 20px;
    right: 20px;
}
.loginPage_div_sign_forget_password_loginComponent:hover {
    color: #888686;
}
.loginPage_button_enter_loginComponent {
    background-color: #1cb0f6;
    box-shadow: 0 4px 0 #1899d6;
    border: #1cb0f6 0 solid;
    border-radius: 16px;
    color: #fff;
    width: 100%;
    height: 46px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.loginPage_button_enter_loginComponent:hover {
    background-color: #1cb1f6af;
}
.loginPage_div_main_line_and_or_loginComponent {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.loginPage_div_line_loginComponent {
    background: #e5e5e5;
    flex-grow: 1;
    height: 2px;
}
.loginPage_div_sign_or_loginComponent {
    text-transform: uppercase;
    color: #afafaf;
    flex-grow: 0;
    padding: 0 8px;
    font-size: 15px;
    letter-spacing: .8px;
}
.loginPage_div_buttons_loginComponent {
    width: 100%;
}
.loginPage_button_facebook_google_loginComponent {
    box-shadow: 0 2px 0 #e5e5e5;
    border: 2px solid #e5e5e5;
    width: 180px;
    height: 48px;
    background: #fff;
    border-radius: 12px;
    box-sizing: border-box;
}
.loginPage_button_facebook_google_loginComponent:hover {
    background-color: #e5e5e5;
    box-shadow: 0 2px 0 #c4c1c1;
    border: 2px solid #c4c1c1;
}
.loginPage_span_sign_loginComponent {
    font-size: 14px; 
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-left: 10px;
}
.loginPage_div_sign_privacy_policy_loginComponent { 
    padding: 40px 0 10px 0;
    text-align: center;
}
.loginPage_span_sign_privacy_policy_loginComponent {
    color: #afafaf;
    font-size: 14px;
    box-sizing: border-box;
}
.loginPage_div_input_span_registrationComponent {
    position: relative;
}
.loginPage_span_circle_question_registrationComponent {
    border: 1px solid #e5e5e5;
    color: #afafaf;
    border-radius: 100%;
    font-size: 18px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.loginPage_div_triangle_and_sign_registrationComponent {
    position: absolute;
    border: #e5e5e5 solid 1px;
    border-radius: 16px;
    width: 300px;
    padding: 10px 20px;
    text-align: center;
    top: 54px;
    right: -120px;
    background-color: #fff;
    font-size: 14px;
}
.loginPage_div_triangle_registrationComponent {
    transform: rotateY(0deg) rotate(45deg);
    transition: transform 2s;
    width: 15px;
    height: 15px;
    border:  #e5e5e5 solid 1px;
    position: absolute;
    background-color: #fff;
    top: -9px;
    right: 143px;
    border-right: none;
    border-bottom: none;
}
.loginPage_a_registrationComponent {
    text-decoration: none;
    color: blue;
    margin-left: 3px;
}
.loginPage_a_registrationComponent:hover {
    color: blue;
}
.loginPage_div_error {
    position: absolute;
    top: 72px;
    right: -210px;
    width: 200px;
}
.loginPage_div_error_triangle {
    transform: rotateY(0deg) rotate(45deg);
    transition: transform 2s;
    width: 15px;
    height: 15px;
    border:  #e5e5e5 solid 1px;
    position: absolute;
    background-color: #fff;
    top: 15px;
    right: 191px;
    border-right: none;
    border-top: none;
}
.loginPage_span_errorMessage {
    border: #e5e5e5 solid 1px;
    border-radius: 16px;
    font-size: 15px;
    color: rgb(246, 148, 148);
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: #fff;
    position: relative;
}
.forgetPage_header {
    background-color: #1cb0f6; 
    padding: 0 73px; 
}
.forgetPage_sign_violingo {
    text-transform: lowercase;
    font-size: 37px;
    cursor: pointer;
}
.forgetPage_sign_language {
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    letter-spacing: .8px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 24px 15px;
}
.forgetPage_button_enter {
    background-color: #fff;
    color: #0b3e71;
    height: 40px;
    padding: 0 16px;
    text-transform: uppercase;
    transition: filter .2s;
    border: 0 solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .8px;
    box-shadow: 0 4px 0 #b2def3;
    font-weight: 500;
    margin-right: 10px;
}
.forgrtPage_button_start {
    background-color: #58cc02;
    color: #fff;
    height: 40px;
    padding: 0 16px;
    text-transform: uppercase;
    transition: filter .2s;
    border: 0 solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: .8px;
    box-shadow: 0 4px 0 #3f7416;
    font-weight: 500;
}
.forgrtPage_button_start:hover {
    background-color: #70e01a;
}
.forgetPage_div_body {
    margin: 220px auto 0 auto;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 350px;
    text-align: center;
    z-index: 1;
}
.forgetPage_input_loginComponent {
    cursor: text;
    padding: 8px 16px;
    width: 350px;
    box-sizing: border-box;
    line-height: 27px;
    border-radius: 16px;
    background-color: #e5e5e54d;
    border: 2px solid #e5e5e5;
    margin-top: 20px;
}
.forgetPage_button_send {
    background-color: #1cb0f6;
    box-shadow: 0 4px 0 #1899d6;
    border: #1cb0f6 0 solid;
    border-radius: 16px;
    color: #fff;
    width: 100%;
    height: 46px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: .8px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.languageComponent_main_div {
    position: absolute;
    right: 315px;
    top: 53px;
}
.languageComponent_ul {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    border: 2px solid #e5e5e5;
}
.languageComponent_li {
    width: 44%;
    color: black;
    height: 40px;
    margin-right: 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #fff;
}
.languageComponent_img {
    width: 17px;
    height: 20px;
    margin-right: 20px;
}
.languageComponent_li:hover {
    background: #ded7d7;
    text-decoration: none;
}
.languageComponent_div_triangle {
    transform: rotateY(0deg) rotate(45deg);
    transition: transform 2s;
    width: 15px;
    height: 15px;
    border:  #e5e5e5 solid 2px;
    position: absolute;
    background-color: #fff;
    top: -8px;
    right: 50px;
    border-right: none;
    border-bottom: none;
}
.activatePage_div_register {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 170px;
}
.activatePage_div_register_welcome {
    color: #04fc0a;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.activatePage_div_register_error {
    color: red;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.main_header {
    position: fixed;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border-bottom: solid 2px rgba(0, 0, 0, 0.076);
    z-index: 210;
    background-color: white;
}
.div_sign {
    color: greenyellow;
    font-size: 34px;
    font-weight: 800;
    margin: 20px 100px;
    width: 900px;
}
.image_header_flag {
    width: 40px;
    height: 50px;
    margin-right: 50px;
    border-radius: 20px;
}
.image_header_other {
    width: 30px;
    height: 30px;
    margin-right: 60px;
}
.header_div_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(167, 55, 55);
    color: wheat;
    font-size: 20px;
}
.image_number {
    display: flex;
    font-size: 20px;
    position: relative;
}
.span_number_ruby {
    color: red;
    position: absolute;
    right: 42px;
    top: 4px;
}
.span_number_fire {
    color: rgb(255, 106, 0);
    position: absolute;
    right: 42px;
    top: 4px;
}
.main_body {
    display: flex;
}
.main_navBar {
    position: fixed;
    margin: 120px 0 10px 70px; 
}
.main_apiRouter {
    position: absolute;
    overflow: hidden;
    top: 110px;
    left: 340px;
    width: 700px;
}
.navBar_button {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .8px;
    color: #afafaf;
    width: 250px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    box-sizing: inherit;
    cursor: pointer;
    margin-bottom: 20px;
}
.navBar_button_select {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .8px;
    color: #afafaf;
    width: 250px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #84d8ff;
    background-color: #ddf4ff;
    padding: 4px 8px;
    box-sizing: inherit;
    cursor: pointer;
    margin-bottom: 20px;
}
.navBar_button_text:hover {
    color: #3c3c3c;
}
.navBar_button_image {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 20px;
}
.span_body_component {
    width: 700px;
    margin: 110px 0 0 340px;
}
.div_body_right {
    margin: 110px 20px 0 50px; 
}
.div_body_legia {
    width: 400px;
    height: 500px;
    border: solid 2px rgba(0, 0, 0, 0.076);
    border-radius: 10px;
    margin-bottom: 30px;
}
.div_body_agenda {
    width: 400px;
    height: 500px;
    border: solid 2px rgba(0, 0, 0, 0.076);
    border-radius: 10px; 
}

@media (max-width: 1000px) {
    .div_sign {
        margin: 20px 50px;
        width: 500px;
    }
    .main_navBar {
        margin-left: 20px;
    }
    header {
        padding: 0 50px;
    }
    /* .homePage_div_sign {
        display: flex;
        align-items: center;
        max-width: 800px;
        column-gap: 600px;
    } */
    }