Doctype
html
    head
        style
            include style.css

    body
        block content

    div#id3
        | (c) Vik-2021 1991-2022
        | Перейти на наш сайт!
        a#id7(href=frontendUrl) Натисніть сюди!!!