extends container
block content
    div#id
        | Доброго дня #{userName}!!!!!!!
    p
    div#id1
        | Для зміни гасла натисніть посилання
        p#id2
        a#id4(href=forgetPasswordUrl) Натисніть сюди!!!