extends container
block content
    div#id
        | Дякуємо за реєстрацію на нашому сайті #{userName}!!!!!!!
    p
    div#id1
        | Для завершення реєстраціі натисніть посилання
        p#id2
        a#id4(href=activateUrl) Натисніть сюди!!!